# MongoDB Connection URI
# Local MongoDB:
# MONGO_URI=mongodb://localhost:27017/treadflow
#
# MongoDB Atlas (Cloud):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/treadflow?retryWrites=true&w=majority

MONGO_URI=mongodb://localhost:27017/treadflow
PORT=5000
